 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Unicorn Factory is a collective of designers and developers (Javascript / PHP / Ruby / Native Android and iOS ) from all around the world (Europe / Asia).</p>
                </div>
                <div class="col-lg-4">
                    <p>We pride ourselves on following the best practices for development and design. </p>
                </div>
            </div>
            <div style="padding: 1.5%">

            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>
                  For those who are asking, yes! We accept bitcoin (and other cryptocurrencies such as DASH / XMR / LTC)
                </p>
                <img src="/img/BC_Rnd_64px.png" />
              </div>
            </div>
        </div>
    </section>
